<nav class="e-navigation">
    <ul class="e-navigation-list">
        <li class="e-navigation-list__item">
            <a href="/message/">
                <i><img src="/assets/img/icon_arrow_small.svg" alt=""></i>
                <span>
                    <%- include('../img/hd_message.svg') -%>
                    <small>社長メッセージ</small>
                </span>
            </a>
        </li>
        <li class="e-navigation-list__item">
            <a href="/about/">
                <i><img src="/assets/img/icon_arrow_small.svg" alt=""></i>
                <span>
                    <%- include('../img/hd_about.svg') -%>
                    <small>クオキャリアについて</small>
                </span>
            </a>
        </li>
    </ul>
    <ul class="e-navigation-list">
        <li class="e-navigation-list__item">
            <a href="/one-day/">
                <i><img src="/assets/img/icon_arrow_small.svg" alt=""></i>
                <span>
                    <%- include('../img/hd_one-day.svg') -%>
                    <small>ある社員の1日</small>
                </span>
            </a>
        </li>
        <li class="e-navigation-list__item">
            <a href="/chat/">
                <i><img src="/assets/img/icon_arrow_small.svg" alt=""></i>
                <span>
                    <%- include('../img/hd_chat.svg') -%>
                    <small>チーム座談会</small>
                </span>
            </a>
        </li>
        <li class="e-navigation-list__item">
            <a href="/gallery/">
                <i><img src="/assets/img/icon_arrow_small.svg" alt=""></i>
                <span>
                    <%- include('../img/hd_gallery.svg') -%>
                    <small>写真で知るクオキャリア</small>
                </span>
            </a>
        </li>
    </ul>
    <ul class="e-navigation-list">
        <li class="e-navigation-list__item">
            <a href="/welfare/">
                <i><img src="/assets/img/icon_arrow_small.svg" alt=""></i>
                <span>
                    <%- include('../img/hd_welfare.svg') -%>
                    <small>環境・制度</small>
                </span>
            </a>
        </li>
        <li class="e-navigation-list__item">
            <a href="/info/">
                <i><img src="/assets/img/icon_arrow_small.svg" alt=""></i>
                <span>
                    <%- include('../img/hd_info.svg') -%>
                    <small>募集要項</small>
                </span>
            </a>
        </li>
    </ul>
    <ul class="e-navigation-sublist">
        <li class="e-navigation-sublist__item"><a href="https://freelance.quacareer.co.jp" target="_blank">登録スタッフ･アルバイト募集</a></li>
        <li class="e-navigation-sublist__item"><a href="/contact/">お問い合わせ</a></li>
        <li class="e-navigation-sublist__item"><a href="https://www.quacareer.co.jp/" target="_blank">コーポレートサイト</a></li>
        <li class="e-navigation-sublist__item"><a href="https://www.quacareer.co.jp/privacy-policy/" target="_blank">個人情報保護方針</a></li>
    </ul>
</nav>