<!DOCTYPE html>
<html lang="ja">
<% pageInfo = {
    data:{
        slug:'chat',
        title:'Quacareer Recruit Site',
        description:'',
    }
}; -%>
<%- include('assets/inc/meta',pageInfo) -%>
<body>
    <%- include('assets/inc/global-header',pageInfo) -%>
    <%- include('assets/inc/global-menu',pageInfo) -%>

    <main>




        <section class="p-chat__fv">
            <div class="p-chat__fv--sticky">
                <div class="p-chat__fv--title">
                    <h1><img class="title" src="/assets/img/chat_titile.svg" alt="CHAT チーム座談会"></h1>
                    <div class="pc-copy">
                        <h2>
                            あたたかな環境があるから、<br>
                            もっと成長できる、<br class="br">もっと挑戦できる。
                        </h2>
                        <p>どんな人がいて、どんな環境で働いている？そんなクオキャリアの社風をテーマに、出身、<br>社歴、職種もさまざまな6人が、それぞれの視点から語り合いました。</p>
                    </div>
                </div>
            </div>
            <div class="p-chat__fv--bg">
                <picture>
                    <source media="(max-width:729px)" srcset="/assets/img/chat_fv1_sp.webp">
                    <img class="chat-fv-img" data-fv="fv1" src="/assets/img/chat_fv1.webp" alt="" style="view-transition-name:chat;">
                </picture>
                <picture>
                    <source media="(max-width:729px)" srcset="/assets/img/chat_fv2_sp.webp">
                    <img class="chat-fv-img" data-fv="fv2" src="/assets/img/chat_fv2.webp" alt="">
                </picture>
            </div>
        </section>

        <div class="p-chat__sp-copy">
            <h2>
                あたたかな環境があるから、<br>
                もっと成長できる、<br>
                もっと挑戦できる。
            </h2>
            <p>どんな人がいて、どんな環境で働いている？そんなクオキャリアの社風をテーマに、出身、社歴、職種もさまざまな6人が、それぞれの視点から語り合いました。</p>
        </div>


        <section class="p-chat__member">
            <div class="p-chat__member--inner">
                <img class="p-chat__member--img" src="/assets/img/chat_fv2.webp" alt="">
                <p class="name n1"><strong>梁 嘉晋</strong><small>RYO KASHIN</small></p>
                <p class="name n2"><strong>佐藤 結和</strong><small>SATO YUINA</small></p>
                <p class="name n3"><strong>佐藤 恭太</strong><small>SATO KYOTA</small></p>
                <p class="name n4"><strong>池田 瑠美</strong><small>IKEDA RUMI</small></p>
                <p class="name n5"><strong>小掠 美咲</strong><small>OGURA MISAKI</small></p>
                <p class="name n6"><strong>杉崎 恵一</strong><small>SUGISAKI KEIICHI</small></p>
                <div class="p-chat__member--prof">
                    <dl>
                        <dt>
                            2021年 新卒入社<br>
                            HRD事業部
                        </dt>
                        <dd>インターン生としてクオキャリアで働き始め、大学卒業後に入社。社内では親しみを込めて「ライトくん」と呼ばれている。</dd>
                    </dl>
                    <dl>
                        <dt>
                            2023年 新卒入社<br>
                            求人コンテンツマネジメント部<br>カスタマーサクセス課（CS課）
                        </dt>
                        <dd>教育学部出身。教員と迷ったすえ、人材支援という形で社会に貢献したいと入社を決意。お菓子づくりが得意で同期の池田に振る舞うことも。</dd>
                    </dl>
                    <dl>
                        <dt>
                            2014年 新卒入社<br>
                            採用ソリューション事業部
                        </dt>
                        <dd>求人媒体の営業を担う採用ソリューション事業部に所属。後輩の育成にも尽力しており、池田をはじめ多くに慕われている。</dd>
                    </dl>
                    <dl>
                        <dt>
                            2023年 新卒入社<br>
                            採用ソリューション事業部
                        </dt>
                        <dd>何かに特化した業界・業種で働きたいと考え、歯科業界から広く社会へ寄与できるクオキャリアへ入社。編み物が趣味で、現在帽子を製作中。</dd>
                    </dl>
                    <dl>
                        <dt>
                            2019年 新卒入社<br>
                            求人コンテンツマネジメント部<br>カスタマーサクセス課<br>
                            （CS課）マネジャー
                        </dt>
                        <dd>求人原稿の制作・編集を担う求人コンテンツマネジメント部に所属。2023年管理職に抜擢。某アニメのファンで、作者の出身地へ旅するほどはまっている。</dd>
                    </dl>
                    <dl>
                        <dt>
                            2006年 中途入社<br>
                            HRD事業部
                        </dt>
                        <dd>就活イベントの企画運営や集客を担うHRD事業部に所属。キャリアコンサルタントの資格を持ち、歯学部生からの信頼も厚い。</dd>
                    </dl>
                </div>
            </div>
        </section>



        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat01bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat01bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat01bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat01bg4.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> クオキャリアの社風を一言で表すと、どんな言葉が浮かびますか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>01</p>
                        <h2 class="p-chat__headding--main">よろこびは分かち合い、<br>不安はサポートする。</h2>
                        <p class="p-chat__headding--lead">クオキャリアの社風を一言で表すと、<br>どんな言葉が浮かびますか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section1') -%>
                </div>
                <!-- <aside class="l-chat__end"></aside> -->
            </div>
        </section>
        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat02bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat02bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat02bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat02bg4.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> 社風について他にはありますか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>02</p>
                        <h2 class="p-chat__headding--main">社歴や年齢に関係なく、<br>アイデア大歓迎。</h2>
                        <p class="p-chat__headding--lead">社風について他にはありますか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section2') -%>
                </div>
                <!-- <aside class="l-chat__end"></aside> -->
            </div>
        </section>
        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat03bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat03bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat03bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat03bg4.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> 入社して意外だったこと･驚いたことはありますか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>03</p>
                        <h2 class="p-chat__headding--main">職域を超えて学び、連携する。</h2>
                        <p class="p-chat__headding--lead">入社して意外だったこと・<br>驚いたことはありますか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section3') -%>
                </div>
                <!-- <aside class="l-chat__end"></aside> -->
            </div>
        </section>
        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat04bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat04bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat04bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat04bg4.webp" alt="">
                        <img class="i5" src="/assets/img/chat04bg5.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> クオキャリアが大切にしている価値観はどんなものですか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                    <div class="js-chat-trigger" data-scene="5"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>04</p>
                        <h2 class="p-chat__headding--main">社内外の隔たりなく<br>“チーム・クオキャリア”。</h2>
                        <p class="p-chat__headding--lead">クオキャリアが大切にしている価値観は<br>どんなものですか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section4') -%>
                </div>
                <aside class="l-chat__end"></aside>
            </div>
        </section>

    </main>


    <%- include('assets/inc/global-cv',{entry:false}) -%>
    <%- include('assets/inc/global-footer',pageInfo) -%>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>