<!DOCTYPE html>
<html lang="ja">
<% pageInfo = {
    data:{
        slug:'chat',
        title:'Quacareer Recruit Site',
        description:'',
    }
}; -%>
<%- include('assets/inc/meta',pageInfo) -%>
<body>
    <%- include('assets/inc/global-header',pageInfo) -%>
    <%- include('assets/inc/global-menu',pageInfo) -%>

    <main>
        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat01bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat01bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat01bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat01bg4.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> クオキャリアの社風を一言で表すと、どんな言葉が浮かびますか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>01</p>
                        <h2 class="p-chat__headding--main">よろこびは分かち合い、<br>不安はサポートする。</h2>
                        <p class="p-chat__headding--lead">クオキャリアの社風を一言で表すと、<br>どんな言葉が浮かびますか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section1') -%>
                </div>
                <!-- <aside class="l-chat__end"></aside> -->
            </div>
        </section>
        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat02bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat02bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat02bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat02bg4.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> 社風について他にはありますか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>02</p>
                        <h2 class="p-chat__headding--main">社歴や年齢に関係なく、<br>アイデア大歓迎。</h2>
                        <p class="p-chat__headding--lead">社風について他にはありますか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section2') -%>
                </div>
                <!-- <aside class="l-chat__end"></aside> -->
            </div>
        </section>
        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat03bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat03bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat03bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat03bg4.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> 入社して意外だったこと･驚いたことはありますか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>03</p>
                        <h2 class="p-chat__headding--main">職域を超えて学び、連携する。</h2>
                        <p class="p-chat__headding--lead">入社して意外だったこと・<br>驚いたことはありますか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section3') -%>
                </div>
                <!-- <aside class="l-chat__end"></aside> -->
            </div>
        </section>
        <section class="l-chat" data-scene="1">
            <aside class="l-chat__bg">
                <div class="l-chat__images">
                    <div class="l-chat__images--inner">
                        <img class="i1" src="/assets/img/chat04bg1.webp" alt="">
                        <img class="i2" src="/assets/img/chat04bg2.webp" alt="">
                        <img class="i3" src="/assets/img/chat04bg3.webp" alt="">
                        <img class="i4" src="/assets/img/chat04bg4.webp" alt="">
                        <img class="i5" src="/assets/img/chat04bg5.webp" alt="">
                    </div>
                    <p class="l-chat__images--title"><i>Q.</i> クオキャリアが大切にしている価値観はどんなものですか？</p>
                </div>
            </aside>
            <div class="l-chat__contents">
                <div class="l-chat__triggers">
                    <div class="js-chat-trigger" data-scene="1"></div>
                    <div class="js-chat-trigger" data-scene="2"></div>
                    <div class="js-chat-trigger" data-scene="3"></div>
                    <div class="js-chat-trigger" data-scene="4"></div>
                    <div class="js-chat-trigger" data-scene="5"></div>
                </div>
                <div class="l-chat__pagetitle">
                    <div class="p-chat__headding">
                        <p class="p-chat__headding--chap"><i>CHAPTER</i>04</p>
                        <h2 class="p-chat__headding--main">社内外の隔たりなく<br>“チーム・クオキャリア”。</h2>
                        <p class="p-chat__headding--lead">クオキャリアが大切にしている価値観は<br>どんなものですか？</p>
                    </div>
                </div>
                <div class="p-chat__section">
                    <%- include('assets/inc/chat-section4') -%>
                </div>
                <aside class="l-chat__end"></aside>
            </div>
        </section>

    </main>


    <%- include('assets/inc/global-cv',{entry:false}) -%>
    <%- include('assets/inc/global-footer',pageInfo) -%>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>