<!DOCTYPE html>
<html lang="ja">
<% pageInfo = {
    data:{
        slug:'contact',
        title:'Quacareer Recruit Site',
        description:'',
    }
}; -%>
<%- include('assets/inc/meta',pageInfo) -%>
<body>
    <%- include('assets/inc/global-header',pageInfo) -%>
    <%- include('assets/inc/global-menu',pageInfo) -%>

    <main>
        <section class="e-pagetitle__wrapper">
            <h1 class="e-pagetitle">
                <small>お問い合わせ</small>
                <%- include('assets/img/hd_contact.svg') -%>
            </h1>
        </section>
        <section>
            <%- include('assets/inc/b-contact-form') -%>
        </section>
    </main>

    <%#- include('assets/inc/global-cv',pageInfo) -%>
    <%- include('assets/inc/global-footer',pageInfo) -%>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>