<!DOCTYPE html>
<html lang="ja">
<% pageInfo = {
    data:{
        slug:'gallery',
        title:'Quacareer Recruit Site',
        description:'',
    }
}; -%>
<%- include('assets/inc/meta',pageInfo) -%>
<body>
    <%- include('assets/inc/global-header',pageInfo) -%>
    <%- include('assets/inc/global-menu',pageInfo) -%>

    <main>
        <section class="e-pagetitle__wrapper">
            <h1 class="e-pagetitle">
                <small>写真で知るクオキャリア</small>
                <%- include('assets/img/hd_gallery.svg') -%>
            </h1>
        </section>
        <div class="p-gallery__action">
            <picture>
                <source media="(max-width:599px)" srcset="/assets/img/gallery-click_sp.svg">
                <img src="/assets/img/gallery-click_pc.svg" alt="気になる写真をタップ">
            </picture>
            <img src="/assets/img/gallery-click_arrow.svg" alt="">
        </div>
        <section>
            <div class="p-gallery__grid" id="grid"></div>
        </section>
        <script>
            const galleryAry = [
                {
                    "img" : "ph01.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「即決キャンペーン月間1位」獲得をお祝いする食事会。１位を獲得した本人の希望で、お寿司屋さんやタイ料理屋さんなどで食事。",
                },{
                    "img" : "ph02.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "2015年、パリ研修旅行。研修ではその国を紹介するCM動画制作を課題として、チーム毎に企画から、撮影・編集作業までを経験。",
                },{
                    "img" : "ph03.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "歯科医師向け就活イベント「MEETUP長崎」の前夜祭。長崎大学内で初めて行うイベントの成功を祈って、運営メンバーで食事会を開催。",
                },{
                    "img" : "ph04.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "2016年、ハワイ研修旅行で訪れたハードロックカフェ。他にもバニヤンツリーや射撃場、ワイキキトロリーなどを満喫。",
                },{
                    "img" : "ph05.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "採用ソリューション事業部の忘年会。普段は大阪で働くメンバーもこの日は東京本社に集まり、みんなで忘年会を開催。",
                },{
                    "img" : "ph06.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ITソリューション事業部。新卒２年目のメンバー（入社とともにインドネシアから来日）も着実に成長し、システム開発にしっかりと貢献。",
                },{
                    "img" : "ph07.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "第1メディア編集部。雑誌の表紙デザイン、色合いをみんなで相談中。記事の企画、取材、編集、デザインなど紙面づくりを一貫して担当。",
                },{
                    "img" : "ph08.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ワールドデンタルショーへのブース出展。約300社の企業が一堂に展示され、最新の情報が集結する日本最大級のデンタルショー。",
                },{
                    "img" : "ph09.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「MEETUP福岡2024」の前夜祭。運営メンバーでもつ鍋を堪能。全国各地の歯科医院にブース出展いただく人気の就活イベントに成長しました。",
                },{
                    "img" : "ph10.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "第1メディア編集部。編集とデザイナーが相談しながら、表紙に使う写真を撮影している様子。読者の顔を思い浮かべながら、良質なコンテンツづくりに励んでいる。",
                },{
                    "img" : "ph11.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ITソリューション事業部のメンバーが、ベトナム出張したときの写真。2017年、ベトナムに開発ラボを開設（東京本社の体制整備に伴い、現在はベトナムのラボは閉鎖）。",
                },{
                    "img" : "ph12.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ITソリューション事業部のメンバーが、ベトナム出張で行ったレストラン。フォーやバインセオなど本場の味を堪能。",
                },{
                    "img" : "ph13.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "採用ソリューション事業部メンバーの誕生日をみんなでお祝い。この日の主役は2人のお子さんを育てながら、ハイパフォーマーとして活躍中。",
                },{
                    "img" : "ph14.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "求人コンテンツマネジメント部のMTG風景。求人広告の応募効果を高めるために、アイデアを出し合い、お客様への提案に活かしている。",
                },{
                    "img" : "ph15.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "プライベートで行った夢の国での一枚。入社後にライフステージが変化しても、仕事と家庭のバランスをとりながら活躍している。",
                },{
                    "img" : "ph16.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ITソリューション事業部のメンバーでランチ。オフィスのある大塚駅周辺には個人経営の飲食店が多くあり、お気に入りの場所を見つける楽しみも。",
                },{
                    "img" : "ph17.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "フィールドクリエーター部。年間700件以上の取材現場の管理・ディレクションと、動画メディアの撮影・編集を担う部署。",
                },{
                    "img" : "ph18.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "2015年、パリ研修旅行。研修ではその国を紹介するCMの制作を課題として、チーム毎に各所を回り、企画・撮影・編集作業を経験。",
                },{
                    "img" : "ph19.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「RUN IN THE LOOP」。サプライチェーン全体を含めたチームビルディングを目指す取り組みとして、2022年から毎年マラソン大会を開催。",
                },{
                    "img" : "ph20.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "考査部のメンバーでランチ。当社の制作物の校閲を担い、求職者に対して分かりやすく、まっとうな情報を届けることが役割。",
                },{
                    "img" : "ph21.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "歯科医院の採用課題を解決することで、地域医療にも貢献。専門的な知識よりも、困っているお客様の役に立ちたいという気持ちが何より大切。",
                },{
                    "img" : "ph22.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ワールドデンタルショーへのブース出展。約300社の企業が一堂に展示され、最新の情報が集結する日本最大級のデンタルショー。",
                },{
                    "img" : "ph23.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「DH就活フェス」。東京・大阪・名古屋・福岡・仙台で開催する、動員数業界No.1の歯科衛生士向け就活イベント。",
                },{
                    "img" : "ph24.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "フィールドクリエーター部。動画メディアの効果を高めるためのアイデアを出し合い、コンテンツづくりに活かしている。",
                },{
                    "img" : "ph25.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "4月に行われる社員総会後の懇親会の様子。この年はみんなでシュラスコを堪能。",
                },{
                    "img" : "ph26.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "2016年、ハワイ研修旅行の様子。ハードロックカフェ、バニヤンツリーや射撃場、ワイキキトロリーなどを満喫。",
                },{
                    "img" : "ph27.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "2017年に行った「フレンズカップ」の様子。「RUN IN THE LOOP」の前身のイベントで、フットサル＆バーベキューを楽しんだ。",
                },{
                    "img" : "ph28.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "第1メディア編集部。産育休に入るメンバーとタイ料理屋さんで「産育休頑張れ会」を開催。",
                },{
                    "img" : "ph29.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "採用ソリューション事業部メンバーの誕生日をみんなでお祝い。この日の主役は2015年に新卒入社し、ハイパフォーマーに成長。",
                },{
                    "img" : "ph30.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「キッチンバトル」。コロナ前まで年末に開催していたイベント。チーム毎に料理の腕を競いながら、チームビルディングを目指す取り組み。",
                },{
                    "img" : "ph31.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "毎年、外国人留学生をインターンとして受け入れ。留学生のマネジメントを行う社員も、もともとはインターンとして当社に入社。",
                },{
                    "img" : "ph32.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "就活イベントは部署関係なく全社員で運営。求職者やお客様と直接会える機会となり、自分たちのサービスの重要性を強く感じることができる瞬間。",
                },{
                    "img" : "ph33.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "2016年、ハワイ研修旅行で課題のCM動画を撮影している様子。完成した動画は帰国後にみんなで視聴し、最優秀賞を決定。",
                },{
                    "img" : "ph34.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "パリ研修旅行で訪れたルーヴル美術館での一コマ。ポーズを決めるのは東海エリアを担当し、お客様からの信頼も厚い営業メンバー。",
                },{
                    "img" : "ph35.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "管理部門のスタッフとして10年以上、クオキャリアを支えてくれたメンバーの送別会の様子。",
                },{
                    "img" : "ph36.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ハワイ研修旅行の一コマ。夕焼けがきれい。",
                },{
                    "img" : "ph37.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「RUN IN THE LOOP」の一コマ。2km、5km、10kmの中から自分のペースに合わせてコースを選択。完走を目指して、数ヶ月前から練習を頑張る社員も。",
                },{
                    "img" : "ph38.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "プライベートで同僚と行ったサモエドカフェ。",
                },{
                    "img" : "ph39.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "考査部の業務風景。ワンフロアオフィスで従業員同士のコミュニケーションがとりやすく、業務の相談やアイデア出しも活発。",
                },{
                    "img" : "ph40.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ハワイ研修旅行の一コマ。馬に乗りました。",
                },{
                    "img" : "ph41.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「MEETUP福岡2024」の前夜祭。運営メンバーでもつ鍋を堪能。全国各地の歯科医院にブース出展いただく人気の就活イベントに成長しました。",
                },{
                    "img" : "ph42.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "オフィスの中で、従業員全員でジャンプ！フィールドクリエーター部が企画した新卒採用動画の撮影風景。",
                },{
                    "img" : "ph43.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「RUN IN THE LOOP」の一コマ。ゴールテープを切ったのは、フィールドクリエーター部マネジャー。年間700件以上の取材現場を統括する頼れる社員。",
                },{
                    "img" : "ph44.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ハワイ研修旅行で乗ったワイキキトロリー。一緒に写っているのは、いつもは大阪営業所で働く営業メンバー（右）＆2011年卒同期（新卒1期生）の2人。",
                },{
                    "img" : "ph45.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「フレンズカップ」の様子。「RUN IN THE LOOP」の前身のイベントで、フットサル＆バーベキューを楽しんだ。",
                },{
                    "img" : "ph46.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "クオキャリア主催「人材経営セミナー」。歯科衛生士養成学校の先生などをお招きし、学生の動向やキャリア教育の重要性などをセミナー形式でお客様へ発信。",
                },{
                    "img" : "ph47.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "4月に行われる社員総会後の懇親会の様子。この年はみんなでシュラスコを堪能。",
                },{
                    "img" : "ph48.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "ハワイ研修旅行の一コマ。カメハメハ大王に会いに行きました。",
                },{
                    "img" : "ph49.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "名古屋出張のついでに、でらうまい味噌カツを堪能。学生のキャリア支援を行っているHRD事業部では、学校訪問等で全国各地に出張することも。",
                },{
                    "img" : "ph50.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「フレンズカップ」の様子。「RUN IN THE LOOP」の前身のイベントで、フットサル＆バーベキューを楽しんだ。",
                },{
                    "img" : "ph51.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "プライベートで行った夢の国での一枚。入社後にライフステージが変化しても、仕事と家庭のバランスをとりながら活躍している。",
                },{
                    "img" : "ph52.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "創業当時から売上目標を達成した年に実施していた国内研修旅行。2013年、遂に初の海外研修旅行（台湾）へ。本場の味に好き嫌いが分かれたことも良い思い出に。",
                },{
                    "img" : "ph53.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "「日本歯科衛生教育学会総会・学術大会」でのセミナーの様子。学生のキャリア支援を行っているHRD事業部マネジャー（2012年卒／育児時短勤務で活躍中）が登壇。",
                }
            ];
        </script>
    </main>


    <%- include('assets/inc/global-cv',{entry:false}) -%>
    <%- include('assets/inc/global-footer',pageInfo) -%>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>