<!DOCTYPE html>
<html lang="ja">
<% pageInfo = {
    data:{
        slug:'gallery',
        title:'Quacareer Recruit Site',
        description:'',
    }
}; -%>
<%- include('assets/inc/meta',pageInfo) -%>
<body>
    <%- include('assets/inc/global-header',pageInfo) -%>
    <%- include('assets/inc/global-menu',pageInfo) -%>

    <main>
        <section class="e-pagetitle__wrapper">
            <h1 class="e-pagetitle">
                <small>写真で知るクオキャリア</small>
                <%- include('assets/img/hd_gallery.svg') -%>
            </h1>
        </section>
        <section>
            <div class="p-gallery__grid" id="grid"></div>
        </section>
        <script>
            const galleryAry = [
                {
                    "img" : "ph01.webp",
                    "ttl" : "社員旅行 in ハワイ",
                    "txt" : "簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。",
                },{
                    "img" : "ph02.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph03.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph04.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph05.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph06.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph07.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph08.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph09.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph10.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph11.webp",
                    "ttl" : "社員旅行 in ハワイ",
                    "txt" : "簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。",
                },{
                    "img" : "ph12.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph13.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph14.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph15.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph16.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph17.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph18.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph19.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph20.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph21.webp",
                    "ttl" : "社員旅行 in ハワイ",
                    "txt" : "簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。",
                },{
                    "img" : "ph22.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph23.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph24.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph25.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph26.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph27.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph28.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph29.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph30.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph31.webp",
                    "ttl" : "社員旅行 in ハワイ",
                    "txt" : "簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。",
                },{
                    "img" : "ph32.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph33.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph34.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph35.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph36.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph37.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph38.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph39.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph40.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph41.webp",
                    "ttl" : "社員旅行 in ハワイ",
                    "txt" : "簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。",
                },{
                    "img" : "ph42.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph43.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph44.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph45.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph46.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph47.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph48.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph49.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph50.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph51.webp",
                    "ttl" : "社員旅行 in ハワイ",
                    "txt" : "簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。簡単な説明が入ります。",
                },{
                    "img" : "ph52.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                },{
                    "img" : "ph53.webp",
                    "ttl" : "あああああああああ",
                    "txt" : "いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
                }
            ];
        </script>
    </main>


    <%- include('assets/inc/global-cv',{entry:false}) -%>
    <%- include('assets/inc/global-footer',pageInfo) -%>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>