<!DOCTYPE html>
<html lang="ja">
<% pageInfo = {
    data:{
        slug:'day2',
        title:'Quacareer Recruit Site',
        description:'',
    }
}; -%>
<%- include('assets/inc/meta',pageInfo) -%>
<body>
    <%- include('assets/inc/global-header',pageInfo) -%>
    <%- include('assets/inc/global-menu',pageInfo) -%>

    <main>

        <section class="b-day-fv">
            <div class="b-day-fv__view first">
                <h1 class="b-day-fv__title">自分の殻を<br>破った先に見えてきた、<br class="sp">新しい景色</h1>
                <dl class="b-day-fv__name">
                    <dt>金井 駿空 <small>KANAI TOSHIHIRO</small></dt>
                    <dd>2020年入社</dd>
                    <dd>採用ソリューション事業部</dd>
                </dl>
            </div>
            <div class="b-day-fv__view second">
                <dl class="b-day-fv__prof">
                    <dt>PROFILE</dt>
                    <dd>営業として歯科医院向けの求人サービスや合同就職説明会の提案、さらに求人原稿のコンサルテーションなどによる採用フォローを行なっています。クオキャリアに入社する前、フリーターだった私は、自分の将来が見えないことに危機感を抱いていました。就職活動を始め、偶然見つけたのがクオキャリア。縁あって選考に進むことができたものの、実は最終選考で代表の中山に自分の甘さを見抜かれ、面と向かって指摘されてしまったんです。正直ショックでしたが、同時にまるで家族のように自分を見てくれる中山に、強く心を動かされました。「変わろうとしている姿に期待したい」と内定をもらったときは、本当にうれしかったです。そして、成長した自分を見せたいと、入社を決意しました</dd>
                </dl>
            </div>
            <div class="b-day-fv__blur"></div>
            <%- include('assets/img/hd_one-day.svg') -%>
            <picture>
                <source media="(max-width:599px)" srcset="/assets/img/day2_fv_sp.webp">
                <img class="b-day-fv__bg" src="/assets/img/day2_fv_pc.webp" alt="" style="view-transition-name:day2;">
            </picture>
        </section>



        <section class="l-one-day">
            <svg class="l-one-day__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171 1044.76">
            <path d="M0,81.57C0,32.11,32.58,0,84.9,0s84.67,33.53,84.67,81.57-32.34,83.95-84.67,83.95S0,130.8,0,81.57ZM165.05,78.96c0-32.11-30.2-51.37-71.11-51.37C34.01,27.59,4.28,47.09,4.28,85.62c0,30.68,30.2,52.32,74.2,52.32,57.08,0,86.57-21.88,86.57-58.98Z"/>
            <path d="M142.22,329.15H2.62v-3.33l136.27-112.73H27.59c-16.89,0-21.17.24-22.59,21.4h-2.38v-51.13h2.38c1.43,21.17,5.71,21.4,22.59,21.4h120.34c7.61-4.99,16.65-12.13,16.89-21.17h2.38v37.1l-121.29,100.12h96.32c16.89,0,21.4-2.85,22.59-21.17h2.38v49.71h-2.38c-1.19-18.79-5.71-20.22-22.59-20.22Z"/>
            <path d="M2.62,481.36v-122.72h2.38c.48,17.84,4.52,19.5,21.88,19.5h117.25c16.89,0,20.21-2.14,20.69-19.5h2.38v119.39l-41.14,2.14-.48-2.14c21.88-4.52,35.67-15.22,35.67-36.86v-34.96c0-4.04-.95-4.28-5.71-4.28h-58.03c-3.81,0-4.28.48-4.28,4.04v28.06c0,21.88,5.47,27.35,25.92,28.3v2.62h-61.12v-2.62c21.4-1.43,27.35-7.13,27.35-28.3v-28.06c0-3.33-.48-4.04-2.85-4.04H24.73c-11.18,0-15.46,1.67-15.46,11.65v24.26c0,34.72,9.51,40.91,38.53,51.37l-.71,2.38-44.47-10.23Z"/>
            <path d="M59.93,567.21v-56.84l13.79,6.42v56.84l-13.79-6.42Z"/>
            <path d="M2.62,650.92v-64.69h2.38c.24,15.93,4.04,18.07,22.12,18.07h115.58c18.55,0,21.64-2.14,22.12-18.07h2.38v64.69c0,60.65-29.49,92.28-80.62,92.28S2.62,707.76,2.62,650.92ZM163.15,641.17c0-9.99-.71-13.08-7.37-13.08H11.42c-3.33,0-4.52.71-4.52,13.79,0,47.33,32.11,75.39,78.24,75.39s78.01-25.45,78.01-76.1Z"/>
            <path d="M2.62,849.51h2.38c0,12.13,2.38,16.89,8.32,16.89,2.14,0,5.95-.95,9.99-2.62l34.72-14.03v-62.31l-29.73-11.42c-5.47-2.14-10.23-2.85-12.37-2.85-7.85,0-11.18,6.42-10.94,19.5h-2.38v-51.85h2.38c.24,11.89,6.9,19.03,21.4,24.73l144.6,57.55v3.09l-147.21,63.5c-13.79,5.95-18.55,11.65-18.79,23.54h-2.38v-63.74ZM136.27,817.64l-69.92-26.87v55.41l69.92-28.54Z"/>
            <path d="M2.62,1004.81v-72.3h2.62c.48,17.6,4.76,24.02,20.69,24.02h47.8l77.53-48.52c9.28-5.71,13.08-9.27,13.56-20.69h2.38v65.16h-2.38c-.95-12.84-2.85-18.55-7.61-18.55-2.62,0-5.95,1.9-10.46,4.76l-62.31,38.29,55.89,32.34c6.66,3.81,11.42,6.42,15.7,6.42,5.23,0,8.56-5.47,8.8-15.7h2.38v44.71h-2.38c0-9.75-7.37-16.41-19.98-23.78l-69.44-40.67H24.02c-14.51,0-18.31,6.18-18.79,24.5h-2.62Z"/>
            </svg>
            <div class="l-one-day__flex">
                <div class="l-one-day__profile">
                    <div class="b-day-prof">
                        <div class="b-day-prof__flex">
                            <p class="b-day-prof__title">PROFILE</p>
                            <img class="b-day-prof__photo" src="/assets/img/day2_prof.webp" alt="">
                            <dl class="b-day-prof__name">
                                <dt>金井 駿空 <small>KANAI TOSHIHIRO</small></dt>
                                <dd>2020年入社</dd>
                                <dd>採用ソリューション事業部</dd>
                            </dl>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 23"><path class="b" d="M.5,23c-.13,0-.26-.05-.35-.15-.2-.2-.2-.51,0-.71l10.65-10.65L.15.85C-.05.66-.05.34.15.15S.66-.05.85.15l11,11c.2.2.2.51,0,.71L.85,22.85c-.1.1-.23.15-.35.15Z"/></svg>
                        </div>
                        <div class="b-day-prof__btn">
                            <img src="/assets/img/day2_prof.webp" alt="">
                            <svg viewBox="0 0 86.31 86.33" xmlns="http://www.w3.org/2000/svg"><path d="m46.4 4.04c-.45-.03-.9-.15-1.14-.23l-.15 2.01c-.07.92-.04 1.12.9 1.2v.1s-2.8-.21-2.8-.21v-.1c.79.06.84-.18.91-1.07l.35-4.7c.05-.67.04-.85-.75-.94v-.1s2.21.16 2.21.16c.81.06 1.54.16 2.04.45.6.34.87.99.82 1.62-.1 1.37-1.34 1.89-2.39 1.81zm-.3-3.64c-.55-.04-.59 0-.6.17l-.22 3.05c.28.07.61.12.85.13.96.07 1.54-.51 1.62-1.52.07-.98-.54-1.76-1.64-1.84z"/><path d="m54.38 8.77c-.62-1.13-1.14-2.52-1.63-3.81-.07-.04-.25-.12-.39-.16-.06-.02-.12-.02-.14.06l-.55 2.01c-.2.74-.23.97.57 1.17l-.03.1-2.58-.7.03-.1c.7.19.84.03 1.05-.73l1.28-4.7c.19-.69.18-.83-.56-1.05l.03-.1 2.71.74c1.52.41 1.99 1.31 1.69 2.41-.2.73-.85 1.28-2.05 1.24.89 2.12 1.55 3.61 2.11 3.89l-.03.1zm-.92-7.23c-.22-.06-.32-.03-.37.14l-.76 2.78c-.02.06-.01.08.1.11 1.49.4 2.14.05 2.42-.98.27-.99-.18-1.72-1.4-2.05z"/><path d="m59.63 11.09c-1.85-.96-2.42-2.79-1.41-4.75 1.01-1.95 2.89-2.51 4.68-1.59 1.82.94 2.51 2.83 1.5 4.78s-2.94 2.5-4.77 1.55zm3.09-6.21c-1.2-.62-2.5.14-3.29 1.66-1.16 2.24-1 3.72.44 4.47 1.15.59 2.54-.12 3.39-1.76 1.1-2.13.85-3.66-.53-4.37z"/><path d="m71.11 12.61c.48-.84.65-1.4-.11-2.01l-1.13-.92c-.19-.15-.26-.16-.4.02l-1.61 1.98c-.06.08-.06.13.01.19l.95.78c.49.4.91.24 1.45-.39l.09.07-1.78 2.18-.09-.07c.52-.73.6-1.13.11-1.53l-.95-.77c-.1-.08-.13-.07-.2.02l-1.38 1.7c-.47.58-.45.84.25 1.43l-.06.08-2.26-1.84.06-.08c.63.48.75.38 1.12-.07l3.18-3.9c.46-.57.56-.74-.05-1.24l.06-.08 3.83 3.12-1 1.4-.1-.05z"/><path d="m74.46 15.1-3.57 3.28c-.6.55-.6.69-.13 1.23l-.07.07-1.78-1.95.07-.07c.52.5.64.52 1.24-.02l3.57-3.28c.6-.55.62-.68.14-1.24l.07-.07 1.78 1.95-.07.07c-.52-.53-.67-.5-1.25.03z"/><path d="m74.31 24.67-2.73-4 .08-.06c.46.67.66.54 1.33.08l3.9-2.66c.6-.41.82-.46.32-1.21l.08-.06 1.61 2.35-.08.06c-.44-.64-.73-.75-1.37-.31l-4.06 2.78c-.46.32-.54.44-.19.96l.35.51c.68.99 1.25 1.01 2.61.48l.05.1-1.89.97z"/><path d="m77.17 30.64-2.1-4.72.09-.04c.32.68.51.67 1.17.37l4.51-2.01c.65-.29.74-.43.46-1.1l.09-.04 2.05 4.59-1.54.79-.05-.07c.76-.55 1.11-1.2.74-2.03l-.6-1.34c-.07-.16-.11-.15-.29-.07l-2.23.99c-.15.07-.16.09-.1.23l.48 1.08c.37.84.68.96 1.48.64l.04.1-2.35 1.05-.04-.1c.8-.42.93-.74.57-1.56l-.48-1.08c-.06-.13-.09-.15-.18-.11l-2.22.99c-.43.19-.57.33-.39.71l.42.93c.59 1.33 1.07 1.41 2.36 1.31v.1s-1.87.37-1.87.37z"/><path d="m82.32 45.79c.03-.45.13-.9.21-1.14l-2.01-.11c-.92-.05-1.12-.02-1.18.91h-.1s.16-2.8.16-2.8h.1c-.04.78.19.84 1.08.89l4.7.27c.67.04.85.03.92-.77h.1s-.12 2.21-.12 2.21c-.05.81-.14 1.54-.42 2.05-.33.6-.97.89-1.6.85-1.37-.08-1.91-1.31-1.85-2.36zm3.63-.35c.03-.55 0-.59-.18-.6l-3.05-.17c-.07.28-.1.61-.12.85-.05.96.53 1.53 1.54 1.59.98.06 1.74-.57 1.81-1.67z"/><path d="m77.71 53.87c1.12-.64 2.5-1.18 3.78-1.69.04-.07.12-.25.15-.39.01-.06.02-.12-.07-.14l-2.02-.51c-.75-.19-.98-.22-1.16.59l-.1-.02.66-2.6.1.02c-.18.71-.02.84.75 1.04l4.72 1.2c.7.18.84.16 1.05-.58l.1.02-.69 2.72c-.39 1.53-1.28 2.01-2.38 1.73-.74-.19-1.3-.83-1.28-2.03-2.1.93-3.59 1.61-3.86 2.17l-.1-.02.34-1.51zm7.22-1.03c.06-.22.02-.32-.14-.37l-2.79-.71c-.06-.01-.08-.01-.11.11-.38 1.49-.02 2.14 1.02 2.41 1 .25 1.71-.2 2.03-1.43z"/><path d="m75.47 59.15c.93-1.86 2.76-2.46 4.73-1.48s2.56 2.85 1.66 4.66c-.91 1.84-2.79 2.56-4.76 1.58s-2.55-2.9-1.62-4.75zm6.27 2.99c.6-1.21-.18-2.5-1.72-3.27-2.26-1.12-3.74-.95-4.46.51-.57 1.16.16 2.54 1.81 3.36 2.15 1.07 3.67.8 4.37-.6z"/><path d="m74.13 70.65c.84.46 1.4.62 2.01-.14l.9-1.15c.15-.19.15-.26-.03-.4l-2-1.58c-.08-.06-.13-.06-.19.02l-.76.96c-.39.49-.23.92.41 1.45l-.07.09-2.2-1.74.07-.09c.74.5 1.14.58 1.53.09l.76-.96c.08-.1.06-.13-.02-.2l-1.72-1.36c-.59-.46-.85-.44-1.43.27l-.08-.06 1.81-2.29.08.06c-.47.64-.37.75.09 1.11l3.95 3.12c.57.45.75.55 1.24-.07l.08.06-3.06 3.87-1.41-.97.04-.1z"/><path d="m71.72 74.01-3.34-3.52c-.56-.59-.7-.59-1.23-.11l-.07-.07 1.91-1.82.07.07c-.49.52-.51.65.05 1.24l3.34 3.52c.56.59.69.61 1.24.12l.07.07-1.91 1.82-.07-.07c.52-.52.48-.68-.05-1.25z"/><path d="m62.13 74.05 3.95-2.8.06.08c-.66.47-.53.67-.06 1.33l2.73 3.85c.42.6.48.81 1.22.3l.06.08-2.33 1.65-.06-.08c.64-.45.74-.74.29-1.37l-2.85-4.02c-.32-.46-.45-.54-.97-.17l-.51.36c-.98.69-.99 1.27-.44 2.62l-.1.05-1-1.88z"/><path d="m56.22 76.99 4.68-2.17.04.09c-.67.33-.66.52-.36 1.18l2.08 4.47c.3.64.44.73 1.11.44l.04.09-4.55 2.11-.81-1.53.07-.06c.56.75 1.21 1.09 2.04.71l1.33-.62c.15-.07.15-.11.06-.29l-1.03-2.21c-.07-.15-.09-.15-.23-.09l-1.07.5c-.83.39-.95.69-.62 1.49l-.1.05-1.08-2.33.1-.05c.43.79.76.92 1.56.54l1.07-.5c.13-.06.15-.09.1-.18l-1.02-2.2c-.2-.43-.34-.56-.72-.38l-.92.43c-1.32.61-1.39 1.09-1.28 2.38h-.1s-.4-1.86-.4-1.86z"/><path d="m41.14 82.38c.45.02.91.12 1.14.2l.08-2.01c.04-.92 0-1.12-.93-1.17v-.1s2.8.12 2.8.12v.1c-.78-.03-.83.21-.87 1.1l-.19 4.71c-.03.67-.02.85.78.91v.1s-2.21-.09-2.21-.09c-.81-.03-1.55-.11-2.06-.39-.61-.33-.9-.96-.88-1.59.06-1.37 1.28-1.93 2.33-1.89zm.41 3.63c.55.02.59-.02.6-.19l.13-3.06c-.28-.06-.62-.1-.86-.11-.96-.04-1.52.56-1.57 1.57-.04.98.6 1.74 1.7 1.78z"/><path d="m33 77.9c.66 1.11 1.22 2.48 1.75 3.76.07.04.25.11.4.15.06.01.12.02.14-.07l.48-2.02c.18-.75.2-.98-.61-1.15l.02-.1 2.61.62-.02.1c-.71-.17-.84 0-1.03.76l-1.13 4.74c-.17.7-.15.84.6 1.04l-.02.1-2.74-.65c-1.54-.37-2.03-1.24-1.76-2.35.18-.74.81-1.31 2.01-1.31-.96-2.09-1.67-3.57-2.24-3.82l.02-.1 1.52.32zm1.15 7.21c.22.05.33.02.36-.15l.67-2.8c.01-.06 0-.08-.11-.11-1.5-.36-2.14.01-2.39 1.06-.24 1 .23 1.71 1.47 2.01z"/><path d="m27.68 75.75c1.88.9 2.5 2.71 1.56 4.7-.95 1.98-2.8 2.6-4.62 1.73-1.85-.88-2.6-2.75-1.65-4.73s2.85-2.59 4.72-1.7zm-2.89 6.31c1.22.58 2.49-.22 3.23-1.77 1.08-2.27.88-3.75-.58-4.45-1.16-.55-2.53.2-3.33 1.87-1.03 2.16-.74 3.68.67 4.35z"/><path d="m16.15 74.59c-.45.85-.6 1.42.18 2.01l1.16.89c.19.15.26.15.4-.03l1.55-2.03c.06-.08.05-.14-.02-.19l-.98-.75c-.5-.38-.92-.21-1.44.44l-.09-.07 1.71-2.23.09.07c-.49.74-.57 1.15-.07 1.54l.97.74c.1.08.13.06.2-.03l1.33-1.74c.46-.6.43-.86-.3-1.42l.06-.08 2.32 1.77-.06.08c-.65-.46-.76-.35-1.11.11l-3.05 4c-.44.58-.54.76.09 1.24l-.06.08-3.93-3 .95-1.43.11.04z"/><path d="m12.75 72.24 3.46-3.4c.58-.57.58-.71.09-1.24l.07-.07 1.85 1.89-.07.07c-.53-.49-.66-.5-1.24.07l-3.46 3.4c-.58.57-.6.7-.1 1.24l-.07.07-1.85-1.89.07-.07c.53.51.69.47 1.25-.07z"/><path d="m12.57 62.64 2.86 3.91-.08.06c-.48-.65-.68-.52-1.33-.04l-3.81 2.79c-.59.43-.81.49-.28 1.22l-.08.06-1.68-2.3.08-.06c.46.63.75.73 1.38.27l3.97-2.91c.45-.33.53-.46.16-.97l-.37-.5c-.71-.97-1.28-.97-2.62-.4l-.05-.1 1.86-1.03z"/><path d="m9.53 56.78 2.25 4.65-.09.04c-.35-.67-.53-.66-1.19-.34l-4.44 2.15c-.64.31-.73.45-.43 1.12l-.09.04-2.19-4.52 1.52-.84.06.07c-.75.57-1.07 1.23-.67 2.05l.64 1.32c.07.15.11.14.29.06l2.2-1.06c.14-.07.15-.1.09-.23l-.51-1.06c-.4-.83-.71-.93-1.5-.6l-.05-.1 2.31-1.12.05.1c-.78.45-.9.77-.52 1.57l.52 1.06c.06.13.09.14.18.1l2.19-1.06c.42-.21.55-.35.37-.72l-.45-.92c-.64-1.31-1.11-1.37-2.4-1.24l-.02-.1 1.87-.43z"/><path d="m3.91 41.77c-.01.45-.1.91-.18 1.15l2.01.05c.92.02 1.12-.01 1.15-.95h.1s-.07 2.8-.07 2.8h-.1c.02-.78-.22-.83-1.11-.85l-4.71-.12c-.67-.02-.85 0-.9.8h-.1s.06-2.21.06-2.21c.02-.81.09-1.55.35-2.06.32-.61.94-.92 1.57-.9 1.37.04 1.95 1.25 1.92 2.3zm-3.63.46c-.01.55.02.59.19.6l3.06.08c.06-.28.09-.62.09-.86.02-.96-.58-1.52-1.59-1.54-.98-.03-1.73.63-1.75 1.72z"/><path d="m8.24 33.59c-1.1.68-2.46 1.26-3.73 1.81-.04.07-.11.25-.14.4-.01.06-.02.12.07.14l2.03.45c.75.17.98.19 1.14-.63l.1.02-.58 2.62-.1-.02c.16-.71 0-.84-.78-1.01l-4.76-1.05c-.7-.16-.84-.13-1.03.61l-.1-.02.6-2.74c.34-1.54 1.21-2.05 2.32-1.8.74.16 1.32.78 1.34 1.99 2.07-1 3.53-1.73 3.78-2.3l.1.02-.29 1.52zm-7.18 1.28c-.05.22-.01.33.16.36l2.81.62c.06.01.08 0 .11-.11.33-1.5-.05-2.14-1.1-2.37-1.01-.22-1.71.26-1.98 1.5z"/><path d="m10.32 28.22c-.87 1.89-2.67 2.55-4.68 1.63-2-.92-2.65-2.77-1.81-4.6.85-1.86 2.71-2.64 4.71-1.73 2 .92 2.64 2.81 1.78 4.7zm-6.36-2.79c-.56 1.23.26 2.49 1.82 3.21 2.29 1.05 3.77.82 4.45-.65.54-1.17-.24-2.53-1.92-3.3-2.18-1-3.69-.68-4.34.74z"/><path d="m11.28 16.71c-.86-.44-1.42-.58-2.01.21l-.87 1.17c-.14.19-.15.26.04.4l2.05 1.51c.08.06.14.05.19-.02l.73-.99c.37-.51.2-.92-.46-1.43l.07-.09 2.26 1.67-.07.09c-.75-.48-1.16-.55-1.54-.04l-.72.98c-.08.1-.06.13.03.2l1.76 1.3c.6.45.86.41 1.42-.32l.08.06-1.73 2.35-.08-.06c.44-.65.34-.77-.12-1.11l-4.04-2.99c-.59-.43-.77-.53-1.23.11l-.08-.06 2.93-3.97 1.44.93-.04.11z"/><path d="m13.6 13.23 3.45 3.41c.58.57.72.57 1.24.07l.07.07-1.86 1.88-.07-.07c.48-.54.49-.67-.08-1.24l-3.45-3.41c-.58-.57-.71-.59-1.25-.08l-.07-.07 1.86-1.88.07.07c-.51.54-.46.7.09 1.24z"/><path d="m23.19 12.91-3.86 2.92-.06-.08c.65-.49.51-.69.02-1.33l-2.84-3.77c-.44-.58-.5-.8-1.23-.26l-.06-.08 2.27-1.72.06.08c-.62.47-.71.76-.25 1.38l2.97 3.93c.34.45.47.52.97.14l.49-.37c.96-.72.95-1.3.36-2.63l.1-.05 1.06 1.85z"/><path d="m29 9.78-4.61 2.32-.04-.09c.66-.36.65-.54.32-1.19l-2.22-4.4c-.32-.63-.46-.72-1.12-.41l-.05-.09 4.48-2.26.86 1.5-.07.06c-.58-.74-1.25-1.05-2.06-.64l-1.31.66c-.15.08-.14.12-.05.3l1.1 2.18c.07.14.1.15.23.08l1.05-.53c.82-.41.92-.72.57-1.51l.1-.05 1.16 2.29-.1.05c-.46-.78-.79-.89-1.58-.49l-1.05.53c-.12.06-.14.09-.1.18l1.09 2.17c.21.42.35.55.73.36l.91-.46c1.3-.66 1.36-1.13 1.2-2.42l.1-.02.46 1.86z"/></svg>
                        </div>
                    </div>
                </div>
                <div class="l-one-day__content">
                    <h2 class="b-day-sch__title">
                        <small>ONE-DAY</small>
                        <span>ある1日の流れ</span>
                    </h2>
                    <div class="b-day-sch">
                        <div class="b-day-sch__line"><i></i><span></span></div>
                        <p class="b-day-sch__time">9:00~</p>
                        <div class="b-day-sch__text">
                            <h3>出社</h3>
                            <p>明るい気持ちでお客さまと接したいので、出勤中は音楽を聴いて気分をあげるのが日課。徐々に仕事モードに切り替えていきます。</p>
                        </div>
                    </div>
                    <div class="b-day-sch">
                        <div class="b-day-sch__line"><i></i><span></span></div>
                        <p class="b-day-sch__time">9:45~</p>
                        <div class="b-day-sch__text">
                            <h3>朝礼・社内業務</h3>
                            <p class="b">メール対応、架電準備、商談準備、原稿作成や修正依頼など</p>
                            <p>一日の始まりに自分のタスクを改めて確認し、優先順位をつけて行動計画を立てます。それを元に、午前中は社内で行う業務を中心に、効率よく取りかかっていきます。</p>
                        </div>
                    </div>
                    <div class="b-day-sch">
                        <div class="b-day-sch__line"><i></i><span></span></div>
                        <p class="b-day-sch__time">13:00~</p>
                        <div class="b-day-sch__text">
                            <h3>架電コアタイム</h3>
                            <p class="b">顧客フォローや新規顧客向けの架電</p>
                            <div class="img"><img src="/assets/img/day2_img1.webp" alt=""></div>
                            <h3>誰よりも数にこだわって<br>部内トップを達成。</h3>
                            <p>13時から15時は、お昼休みをとる歯科医院が多いため、営業部は一斉に架電コアタイムに入ります。コミュニケーションに苦手意識があった私にとって、架電は苦労したことの一つ。トークも不器用で、うまくいかずに落ち込んだこともありました。でも熱量だけは負けたくなくて、まずは誰よりも数にこだわることに。1日に50件以上こなしていたと思います。すると、だんだんコツが掴めてきたんです。例えば声のトーン。緊張すると固くなりがちですが、なるべく明るいトーンで、電話越しに元気を届けるように心がけました。するとお客さまも耳を傾けてくれるんです。そうやって行動量をキープしながらトークの質を見直し続けた結果、架電でのアポイント獲得数で、部内トップを達成することができました。</p>
                        </div>
                    </div>
                    <div class="b-day-sch">
                        <div class="b-day-sch__line"><i></i><span></span></div>
                        <p class="b-day-sch__time">15:00~</p>
                        <div class="b-day-sch__text">
                            <h3>昼食</h3>
                        </div>
                    </div>
                    <div class="b-day-sch">
                        <div class="b-day-sch__line"><i></i><span></span></div>
                        <p class="b-day-sch__time">17:00~</p>
                        <div class="b-day-sch__text">
                            <h3>商談</h3>
                            <p class="b">アポイント先へ移動してヒアリングや提案</p>
                            <div class="img"><img src="/assets/img/day2_img2.webp" alt=""></div>
                            <h3>4年越しのラストチャンスが<br>殻を破るきっかけに。</h3>
                            <p>商談はお客さまの悩みをじっくり聞ける貴重な機会。丁寧にヒアリングをした上で、最適な提案を行います。特に印象深いのは、4年前から担当させてもらっている、ある歯科医院のお客さま。これまで応募はあっても採用に至らず、今年はラストチャンスとして契約をいただけることに。今までと同じやり方では結果が出せない。そう考え、何度も打ち合わせを重ねたり、動画や求人内容の細部まで見直したり、おせっかいなくらい自分から働きかけました。そのかいあって見事に採用成功。とても喜んでいただくことができました。今では何か困ったらすぐ声をかけてくれるような関係が築けています。この経験は、人に自分から一歩踏み込み、深く関わることの大切さを教えてくれました。思い切って自分の殻を破ったその先に、これまで知らなかったやりがいを見つけることができたのです。</p>
                        </div>
                    </div>
                    <div class="b-day-sch">
                        <div class="b-day-sch__line"><i></i><span></span></div>
                        <p class="b-day-sch__time">19:30~</p>
                        <div class="b-day-sch__text">
                            <h3>退勤</h3>
                            <p class="b">振り返りと明日の準備</p>
                            <div class="img"><img src="/assets/img/day2_img3.webp" alt=""></div>
                            <h3>支えてもらった感謝を、<br>成長で返したい。</h3>
                            <p>一日の振り返りと明日の大まかな計画を立てたら退勤します。今でこそ少しずつ成長を実感できている私ですが、成果が出なくて悩んだ時期も長くありました。乗り越えられたのは、ひとえに先輩や同僚のサポートのおかげ。何度も声をかけてもらい、励ましてもらいました。自分だけだったらくじけていたかもしれません。この感謝を成長という形で返していきたいと、まずはお客さまに信頼され、社内を引っ張っていける存在をめざしています。そして今よりも二歩、三歩踏み込んだら、何が待っているのか。その先を、この目で見てみたいと思っています。</p>
                        </div>
                    </div>
                    <div class="b-day-sch">
                        <div class="b-day-sch__line"><i></i></div>
                        <p class="b-day-sch__time"></p>
                        <div class="b-day-sch__text">
                            <h3>終業後</h3>
                            <p>ランニングや映画を見るなどして一日を締めくくります。ランニングは少しさぼっていたのですが最近再開。リフレッシュして明日もがんばります！</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="b-day-slider">
            <div class="b-day-slider__wrapper">
                <ul class="b-day-slider__list">
                    <li><img src="/assets/img/day2_slide1.webp" alt=""></li>
                    <li><img src="/assets/img/day2_slide2.webp" alt=""></li>
                    <li><img src="/assets/img/day2_slide3.webp" alt=""></li>
                    <li><img src="/assets/img/day2_slide4.webp" alt=""></li>
                </ul>
                <ul class="b-day-slider__list">
                    <li><img src="/assets/img/day2_slide1.webp" alt=""></li>
                    <li><img src="/assets/img/day2_slide2.webp" alt=""></li>
                    <li><img src="/assets/img/day2_slide3.webp" alt=""></li>
                    <li><img src="/assets/img/day2_slide4.webp" alt=""></li>
                </ul>
            </div>
        </section>
        <aside class="b-day-txslider">
            <div class="b-day-txslider__wrapper">
                <%- include('assets/img/hd_one-day.svg') -%>
                <%- include('assets/img/hd_one-day.svg') -%>
            </div>
        </aside>
        <section class="b-day-ors">
            <div class="b-day-ors__text">
                <h2>
                    <picture class="title">
                        <source media="(max-width:1024px)" srcset="/assets/img/day_ors_sp.svg">
                        <img src="/assets/img/day_ors_pc.svg" alt="">
                    </picture>
                    <span class="heart"><img src="/assets/img/day_ors_heart.svg" alt=""></span>
                </h2>
                <p>会社から歩いて２分ほどの場所にある、レトロな喫茶店「いちこし」です。ランチはサンドイッチとトーストだけですが、ほとんど常連さんだけのゆったりとした雰囲気がとても落ち着くんです。私もすっかり常連になって、ときどきメニューにないお菓子が出てくることも。スイカが出てきた時には、思いがけない心遣いにほっこりした気持ちになりました。</p>
            </div>
            <div class="b-day-ors__slider swiper">
                <div class="swiper-wrapper">
                    <picture class="swiper-slide">
                        <source media="(max-width:599px)" srcset="/assets/img/day2_ors1_sp.webp">
                        <img src="/assets/img/day2_ors1_pc.webp" alt="">
                    </picture>
                    <picture class="swiper-slide">
                        <source media="(max-width:599px)" srcset="/assets/img/day2_ors2_sp.webp">
                        <img src="/assets/img/day2_ors2_pc.webp" alt="">
                    </picture>
                    <picture class="swiper-slide">
                        <source media="(max-width:599px)" srcset="/assets/img/day2_ors3_sp.webp">
                        <img src="/assets/img/day2_ors3_pc.webp" alt="">
                    </picture>
                    <picture class="swiper-slide">
                        <source media="(max-width:599px)" srcset="/assets/img/day2_ors4_sp.webp">
                        <img src="/assets/img/day2_ors4_pc.webp" alt="">
                    </picture>
                </div>
            </div>
            <div class="b-day-ors__page">
                <div class="swiper-pagination"></div>
            </div>
        </section>


        <section class="b-day-other">
            <h2 class="b-day-other__title">OTHER’S ONE-DAY</h2>
            <ul class="b-day-other__list">
                <li>
                    <a href="/one-day/day1/" class="b-day-other__item">
                        <picture>
                            <source media="(max-width:599px)" srcset="/assets/img/od1_sp.webp">
                            <img src="/assets/img/od1-oth_pc.webp" alt="">
                        </picture>
                        <div class="b-day-other__item--text">
                            <h2>築いてきた絆で、<br>採用成功を後押しする。</h2>
                            <p>三原 良祐<small>MIHARA RYOSUKE</small></p>
                            <ul>
                                <li>2020年入社</li>
                                <li>フィールドクリエーター部</li>
                            </ul>
                        </div>
                        <%- include('assets/img/icon_arrow_middle.svg') -%>
                    </a>
                </li>
                <!-- li>
                    <a href="/one-day/day2/" class="b-day-other__item">
                        <picture>
                            <source media="(max-width:599px)" srcset="/assets/img/od2_sp.webp">
                            <img src="/assets/img/od2-oth_pc.webp" alt="">
                        </picture>
                        <div class="b-day-other__item--text">
                            <h2>自分の殻を破った<br>先に見えてきた、<br class="pc">新しい景色</h2>
                            <p>金井 駿空<small>KANAI TOSHIHIRO</small></p>
                            <ul>
                                <li>2020年入社</li>
                                <li>採用ソリューション事業部</li>
                            </ul>
                        </div>
                        <%- include('assets/img/icon_arrow_middle.svg') -%>
                    </a>
                </li -->
                <li>
                    <a href="/one-day/day3/" class="b-day-other__item">
                        <picture>
                            <source media="(max-width:599px)" srcset="/assets/img/od3_sp.webp">
                            <img src="/assets/img/od3-oth_pc.webp" alt="">
                        </picture>
                        <div class="b-day-other__item--text">
                            <h2>学び挑戦できる、<br>裁量の大きさがやりがい。</h2>
                            <p>下田 華子<small>SHIMODA HANAKO</small></p>
                            <ul>
                                <li>2023年入社</li>
                                <li>求人コンテンツマネジメント部</li>
                                <li>カスタマーサクセス課</li>
                            </ul>
                        </div>
                        <%- include('assets/img/icon_arrow_middle.svg') -%>
                    </a>
                </li>
            </ul>
            <!-- <p class="b-day-other__back"><a href="/one-day/"><i><%- include('assets/img/icon_arrow_middle.svg') -%></i>BACK TO INDEX</a></p> -->
        </section>



    </main>


    <%- include('assets/inc/global-cv',{entry:false}) -%>
    <%- include('assets/inc/global-footer',pageInfo) -%>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>